body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,  #d7dcda, #dae1de);
    color: #333;
}

#rps-game {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#choices button {
    padding: 15px 25px;
    background-color: #3e62aa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s;
}

#choices button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}